<h1>登録ユーザ一覧</h1>

<table class="users">
  <tr>
    <td>User ID</td>
    <td>User Name</td>
    <td>date</td>
    <td>dare2</td>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.user_name %></td>
    <td><%= user.updated_at %></td>
    <td><%= user.created_at %></td>
  </tr>
  <% end %>
</table>


